/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100%;
  overflow-x: hidden; 

}

#wrapper {
  display: flex;
}
.sidebar {
  position: flex;
  top: 0;
  left: 0;
  bottom: 0;
  width: 110px;
  height: 100vh;
  padding: 0 1.7rem;
  color: #ffff;
  overflow: hidden;
  transition: all 0.5s linear;
  background: rgba(0, 50, 153, 253);

  
}

.sidebar:hover {
  width: 240px;
  transition: 0.5s;
}


.menu {
  height: 95%;
  position: relative;
  list-style: none;
  padding: 0;
  margin-top: 3%;
}

.menu li {
  padding: 1rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.menu li:hover,
.active1,
.active2,
.active3,
.active4,
.active5,
.active6 {
  background: #e0e0e058;
}

.menu a {
  color: #ffff;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.menu a span {
  overflow: hidden;
}

.menu a i {
  font-size: 1.2rem;
} */

/* Import Google Font cdn link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  border: no;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100%;
  overflow-x: hidden; 
  background-color: #ebe9e9;

}

#wrapper {
  display: flex;
}

.sidebar {
  position: fixed;  
  top: 0;
  left: 0;
  width: 110px;
  height: 100vh;
  padding: 0 1.7rem;
  color: #ffff;
  overflow: hidden;
  transition: all 0.5s linear;
  background: rgba(0, 50, 153, 253);
  z-index: 1000; 
}

.sidebar:hover {
  width: 240px;
  transition: 0.5s;
}

.menu {
  height: 95%;
  position: relative;
  list-style: none;
  padding: 0;
  margin-top: 3%;
}

.menu li {
  padding: 1rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.menu li:hover,
.active1,
.active2,
.active3,
.active4,
.active5,
.active6 {
  background: #e0e0e058;
}

.menu a {
  color: #ffff;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.menu a span {
  overflow: hidden;
}

.menu a i {
  font-size: 1.2rem;
} 
 
#content {
  margin-left: 110px; 
  transition: margin-left 0.5s;
}

.sidebar:hover + #content {
  margin-left: 240px; 
}


.logout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Main Body Section */
.main--content {
  position: relative;
  background: #ebe9e9;
  width: 100%;
  padding: 1rem;
}

.main--content--monitoring {
  position: absolute;
  background: #ebe9e9;
  width: 98%;
  height: 75vh;
}

.header--wrapper img {
  width: 100px;
  height: auto;
  cursor: pointer;
  /* border-radius: 75%; */
}

.header--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 10px;
  padding: 10px 2rem;
  margin-bottom: 1rem;
}

.header--title {
  color: rgba(0, 50, 153, 253);
}

.user--info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search--box {
  background-color: rgb(237, 237, 237);
  border-radius: 15px;
  color: rgba(0, 50, 153, 253);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px 12px;
}

.search--box input {
  background: transparent;
  padding: 10px;
}

.search--box i {
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.search--box i:hover {
  transform: scale(1.2);
}

/* card container */
.card--container {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.card--wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.main--title {
  color: rgba(0, 50, 153, 253);
  padding-bottom: 10px;
  font-size: 15px;
}

.payment--card {
  background: rgb(229, 223, 223);
  border-radius: 10px;
  padding: 1.2rem;
  width: 290px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
}

.payment--card:hover {
  transform: translateY(-5px);
}

.card--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.amount {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 12px;
  font-weight: 200;
}

.amount--value {
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

.icon {
  color: #fff;
  padding: 1rem;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50%;
  font-size: 1.5rem;
  background: red;
}

.card-detail {
  font-size: 18px;
  color: #777777;
  letter-spacing: 2px;
  font-family: "Courier New", Courier, monospace;
}

/* color css  */
.light-red {
  background: rgb(251, 233, 233);
}

.light-purple {
  background: rgb(254, 226, 254);
}

.light-green {
  background: rgb(235, 254, 235);
}

.light-blue {
  background: rgb(236, 236, 254);
}

.light-orange {
  background: rgb(255, 222, 189);
}

.light-yellow {
  background: rgb(243, 240, 177);
}

.dark-red {
  background: red;
}

.dark-purple {
  background: purple;
}

.dark-green {
  background: green;
}

.dark-blue {
  background: blue;
}

.dark-orange {
  background: rgb(255, 153, 51);
}

.dark-yellow {
  background: rgb(242, 220, 21);
}

.no-underline {
  text-decoration: none;
}

/* Tabular section */
.tabular--wrapper {
  background: #fff;
  margin-top: 1rem;
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 1rem;
}

.table-container {
  width: 100%;
  height: 60vh;
  overflow-x: auto;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: rgba(0, 50, 153, 253);
  color: #fff;
}

thead th {
  position: sticky;
  top: 0;
  /* background-color: #f2f2f2; */
  background: rgba(0, 50, 153, 253);
}

th {
  padding: 13px;
  text-align: center;
  font-size: 14px;
}

tbody {
  background: #f2f2f2;
}

td {
  padding: 12px;
  font-size: 14px;
  color: #333;
  border: 2px solid #dddddd;
}

/* th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
} */

tr:nth-child(even) {
  background: #fff;
}

tfoot {
  background: rgba(0, 50, 153, 253);
  font-weight: bold;
  color: #fff;
}

tfoot td {
  padding: 15px;
  color: white;
}

.table-container button {
  color: green;
  background: none;
  cursor: pointer;
}

th:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
}

/* tr:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
} */

td:first-child {
  position: sticky;
  left: 0;
  background-color: #f2f2f2;
}

/* Input Button 1 */
.inputbtn1 {
  align-items: center;
  background-color: rgba(0, 50, 153, 253);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 15%;
  opacity: 0.9;
}

.inputbtn1:hover {
  opacity: 1;
}

/* Input Button 2 */
.inputbtn2 {
  align-items: center;
  background-color: rgba(0, 50, 153, 253);
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 5px;
  opacity: 0.9;
  text-decoration: none;
}

.inputbtn2:hover {
  opacity: 1;
}

/* Input Button 3 */
.inputbtn3 {
  align-items: center;
  background-color: red;
  color: white;
  padding: 10px 17px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 5px;
  opacity: 0.9;
  text-decoration: none;
}

.inputbtn3:hover {
  opacity: 1;
}

.inputbtn4 {
  align-items: center;
  background-color: rgba(0, 50, 153, 253);
  color: white;
  padding: 8px 5px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 5px;
  text-decoration: none;
}

.inputbtn4:hover {
  opacity: 1;
}

.inputbtn5 {
  align-items: center;
  background-color: rgba(0, 50, 153, 253);
  color: white;
  padding: 8px 5px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 5px;
  text-decoration: none;
  list-style: none;
}

.inputbtn5:hover {
  opacity: 1;
  list-style: none;
}

.liaksi {
  list-style: none;
  padding: 10px 0px;
}

/* Form dan Button */
.container {
  padding: 16px;
}

input[type="text"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus {
  background-color: #ddd;
  outline: none;
}

input[type="int"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="date" i] {
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="file" i] {
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

#statdrop {
  background: #f1f1f1;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
}

/* #statdrop label {
    display: block;
    margin-bottom: 5px;
}

#statdrop select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    display: inline-block;
    box-sizing: border-box;
}

#statdrop button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
} */

#statdrop:focus {
  /* outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 10px #007BFF; */
  background: #f1f1f1;
}

#statdrop option {
  background: #f1f1f1;
}

/* Optional: Style the label */
label[for="statdrop"] {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#statdrop button:hover {
  background-color: rgba(0, 50, 153, 253);
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.inputbtn {
  background-color: rgba(0, 50, 153, 253);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 10px;
}

.inputbtn:hover {
  opacity: 1;
}

/* Input Button 2 */
.inputbtn6 {
  align-items: center;
  background-color: rgba(0, 50, 153, 253);
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 5px;
  text-decoration: none;
}

.inputbtn6:hover {
  opacity: 1;
}

/* Input Button 3 */
.inputbtn7 {
  align-items: center;
  background-color: red;
  color: white;
  padding: 10px 17px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 5px;
  text-decoration: none;
}

.inputbtn7:hover {
  opacity: 1;
}

.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

.drop-container:hover {
  background: #eee;
  border-color: #111;
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color 0.2s ease-in-out;
}

input[type="file"] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: rgba(0, 50, 153, 253);
  opacity: 0.9;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  opacity: 1;
}

.drop-container.drag-active {
  background: #eee;
  border-color: #111;
}

.drop-container.drag-active .drop-title {
  color: #222;
}

.header--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header--title h2 {
  margin: 0;
}

.dashboard-cards {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.card {
  flex: 1;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card span {
  font-size: 16px;
}

.card-icon i {
  font-size: 24px;
  color: #68A4B4;
}

.dashboard-content {
  display: flex;
  gap: 20px;
}

.grafik-penyetoran,
.history {
  flex: 1;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
}

.grafik-penyetoran h3,
.history h3 {
  margin: 0 0 15px;
}



.grafik-penyetoran canvas {
  margin-top: 20px;
}

.history .date-range {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.history .date-range input {
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.history .date-range button {
  padding: 5px 10px;
  background-color: #68A4B4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.no-transactions {
  color: #888;
  font-size: 14px;
}

.table-container {
  margin-top: 20px;
}

.table-container h3 {
  margin-bottom: 5px;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.table-container th,
.table-container td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table-container th {
  background-color: rgba(0, 50, 153, 253);
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.table-container tr:hover {
  background-color: #f1f1f1;
}

.table-container tbody tr:last-child td {
  border-bottom: none;
}

.additional-info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.user-card {
  flex: 1;
  background-color: #B0C4DE;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.user-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.wifi-icon i {
  font-size: 24px;
  color: #4caf50;
}

.account-number {
  font-size: 18px;
  font-weight: bold;
}

.user-details p {
  margin: 0;
  font-size: 16px;
}

.user-balance {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.balance-card {
  flex: 1;
  text-align: center;
  background-color: #ffffff;
  padding: 15px;
  margin-left: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.balance-card:first-child {
  margin-left: 0;
}

.balance-card span:first-child {
  display: block;
  font-size: 14px;
  color: #777;
}

.balance-card span:last-child {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}

.transaction-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.transaction-item {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.transaction-header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #888;
}

.transaction-type {
  font-weight: bold;
  color: #333;
}

.transaction-date {
  color: #888;
}

.transaction-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction-detail {
  color: #333;
  font-size: 16px;
}

.transaction-amount {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}