@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(bg1.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #111;
}

.container {
  width: 400px;
  min-height: 400px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 40px 30px;
}
h1 {
  font-weight: 500;
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 20px;
  display: block;
  text-transform: capitalize;
}
.login-text {
  text-align: center;
}
.input-group {
  width: 100%;
  margin-bottom: 15px;
  display: ruby-text;
}

.input-group input {
  width: 100%;
  height: 50px;
  border: 2px solid #e7e7e7;
  padding: 15px 20px;
  font-size: 1rem;
  border-radius: 30px;
  background: transparent;
  outline: none;
  transition: 0.3s;
}

.input-group input:focus,
.input-group input:valid {
  border-color: rgba(0, 50, 153, 253);
}

.input-group .btn {
  /* display: block; */
  width: 50%;
  padding: 15px 20px;
  text-align: center;
  border: none;
  background: rgba(0, 50, 153, 253);
  outline: none;
  border-radius: 30px;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.input-group .btn:hover {
  transform: translateY(-5px);
  background: rgba(0, 50, 153, 253);
}
